.ccon{
	background-color:#F0DF87;
}

.cim{
	width:20%;
	height:20%;
}

.crow{
	background-color: orange;
}

.foo1{
background-color: orange;
}


.foo2{
background-color: orange;
font-family:bold;
text-align:center;
color:blue;
}

hr{
bolder:5px solid red;
}

.i1{
	width:100%;
	height:100%;
}

.i2{
	width:100%;
	height:100%;
}
.i3{
	width:100%;
	height:100%;
}

.i4{
	width:100%;
	height:100%;
}

.i5{
	width:100%;
	height:100%;
}

.i6{
	width:100%;
	height:100%;
}

.i7{
	width:100%;
	height:100%;
}

.i8{
	width:100%;
	height:100%;
}